/* Proprietà generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
main{
  background-color: rgb(240,248,255);
}
.container{
  padding: 0 10%;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
  /* Colonna float 2pz proprietà generali */
.aside{
  width: 50%;
  float: left;
  min-height: 40px;
  padding: 25px 0;
}

/* Proprietà header */
  /* Il contenuto dell'aside DX dentro header si allinea a DX */
header .clearfix > .aside:last-child{
  text-align: right;
}
@media screen and (max-width: 646px){
  header .aside:last-child button{
    margin-bottom: 10px;
  }
  header .clearfix > .aside:last-child {
    text-align: center;
  }
}

header .clearfix:first-child{
  background-color: rgb(240,248,255);
}

header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
  /* Links navbar  */
header a{
  font-size: 15px;
  color: rgb(10,50,90);
  text-decoration: none;
  vertical-align: middle;
  line-height: 41px;
}
header a:hover{
  color: darkturquoise;
}
header img{
  vertical-align:middle;
}

  /* Icona seacrh header */
#search{
   color: darkturquoise;
 }
 #search:hover{
   color: rgb(10,50,90);
 }

 /* Bottoni */
 .button, .button-rev{
    min-height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
 }
.button:hover, .button-rev:hover{
  transition: opacity 0.1s;
  opacity: 0.5;
  cursor: pointer;
}
.button:focus, .button-rev:focus{
  outline: none;
}
.button:active, .button-rev:active{
  opacity: 0.2;
  color: #cecece;
}
  /* Bottone arancio */
.button{
  color: white;
  background-color: #e96545;
}
  /* Bottone arancio reverse */
.button-rev{
  margin: 0 20px;
  color: darkorange;
  background-color: white;
  border-color: darkorange;
}

/* Lista navbar */
nav ul{
  list-style-type: none;
}
nav li{
  display: inline-block;
  margin-right: 10px;
}
nav li:last-child{
  margin-right: 0;
}
li i{
  margin-left: 12px;
}
/* Separatori */
  /* Sep. verticale */
.vert-division{
  border-left: 2px solid rgb(10,50,90);
  margin: 0 10px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
  /* Sparisce a px <= 470 */
@media screen and (max-width: 470px){
  .vert-division{
    visibility: hidden;
  }
}
  /* Sep. orizzontale */
.oriz-division{
  border-bottom: 2px solid rgb(10,50,90);
  width: 100%;
}

/* Proprietà main */
  /* Riga Jumbo */
.jumborow{
  margin-top: 183px;
  background-color: #fef4ef;
  position: relative;
  min-height: 600px;
  background-image: url("../img/jumbotron.png");
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (max-width: 683px) {
  .jumborow{
    margin-top: 227px;
  }
}
@media screen and (max-width: 680px) {
  .jumborow{
    margin-top: 309px;
  }
}
@media screen and (max-width: 422px) {
  .jumborow{
    margin-top: 368px;
  }
}
@media screen and (max-width: 337px) {
  .jumborow{
    margin-top: 420px;
  }
}

/* Contenuto Jumbo */
.jumborow .sez-text{
  position: absolute;
  top: 60px;
  left: 10%;
  z-index: 100;
  width: 40%;
  color: rgb(10,50,90);
}
.sez-text > h1{
  font-size: calc(30px + 0.9vw);
}
.sez-text > p {
  margin: 30px 0;
  font-size: 16px;
}
.sez-text > p:last-child {
  font-size: 13px
}
.jumborow .button{
  min-height: 60px;
  width: 200px;
}

  /* Banda verde */
#banda{
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  height: 85px;
  width: 100%;
  background-color: #a6e8e0;
  border-bottom: 3px solid rgb(10,50,90);
  border-top: 3px solid rgb(10,50,90);
}
